.title-rp{

    width: 100%;
    height: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5vw;
    font-weight: 1000;
    
   margin: 2vw 0;
    border-bottom: 3px solid #808080;
    border-top: 2px solid #808080;
    background-color: #bbbbbb;

}

.title-rp h1{
    margin: 2vw 5vw;

}

.header{

    display: flex;
    justify-content: flex-end;
    
}

.recipe{

    display: flex;
    flex-direction: column;
    width: 76vw;
    height: auto;
    align-items: center;
    margin: auto;
    border-top: 3px solid #000000;
    border-left: 5px solid #000000;
    border-bottom: 3px solid #000000;


}

.time{
    display: flex;
}

.time-p{
    display: flex;
    flex-direction: column;
    margin: 2vw 4vw;
    text-align: center;
}
.time-p h6{

    font-size: 1.8vw;
}
.time-p p{

    font-size: 1.4vw;
}

.nutrition{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nutrition h6{
    font-size: 1.4vw;
    
}

.nutrition p{
    font-size: 1.1vw;
}











.rc-img{
    width: 80%;
    height: auto;
    border: 3px solid #000000;
    margin: 2vw auto;
}

.rc-img img{

    width: 100%;
    height: 100%;
}

.rc{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    letter-spacing: 1px;

}

.rc h3{
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid #808080;
    margin: 2vw 3vw;
    font-size: 4vw;
    letter-spacing: 0.5vw;

}

.rc p{

    font-family: sans-serif;
    font-size: 1.5vw;
    margin: 1vw 1vw;
}

.rc-recipe{
    display: flex;
    flex-direction: column;
    text-align:left;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    letter-spacing: 1px;

}

.rc-recipe h3{

    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid #808080;
    margin: 2vw 3vw;
    font-size: 4vw;
    letter-spacing: 0.5vw;
} 

.rc-recipe p{

    
    font-family: sans-serif;
    font-size: 1.7vw;
    margin: 1vw 1vw;
}

















.advertisement-sm{
display: flex;
justify-content: center;
    width: 100%;
    height: 100px;
    margin: 3vw auto;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

}


.advertisement-sm img{
    width: 740px;
    height: 90px;
}

.mobil{
    display: none;
}

.mobil img{

    width: 350px;
    height: 120px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

}

strong{
    font-size: 2.2vw;
}







.giantadversitement{
    width: 310px;
    height: 2200px;
    margin: 0;
    padding: 0;
    /* border: 3px solid #000000; */
    border-right: none;
}

.giant{
    width: 310px;
    height: 1100px;
    margin: auto;
}

.giantadversitement img{

    width: 310px;
    height: 1050px;
    border: 3px solid #000000;

}


@media (max-width:1000px){

    .giantadversitement{

        display: none;
    }

}

@media (max-width:800px)
{
    .advertisement-sm{
        display: none;
    }
    .mobil{
        display: flex;
        justify-content: center;
            width: 100%;
            height: 130px;
            margin: 3vw auto;
    }

    .rc-recipe p{

        font-size: 2.5vw;
    }

    .rc-recipe h3{

        font-size: 6vw;
    }

    .rc p{
        font-size: 2.5vw;
    }

    .rc h3{

        font-size: 6vw;
    }
}